<section class="">
  <div class="container">
    <h1 ><span class="text-blue" style="font-weight: 700;">Airbnb Who?</span></h1>
    <p class="about">
      We know how painful it is to dealing with revenue loss. We also know how difficult it is to build a great short-term home rental website. 
      Take the guess work out of the equation and connect with guest with your own short-term home booking website.
    </p>
    
    <p>The website allows guest to book and rent a home locally without all of the "noise." Homeowners no longer have to worry about payment 
    rising hosting fees. Owning a short-term home rental website helps you generate more revenue without competing for homepage feed appreance.</p>
    
    <p>We've creatd an exceptional and dynamic platform for short-term rental owners and want to offer both owners and guest a great experience.</p>
  <div>
<section>